<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>hgswikiServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
	<servlet-name>GetTimelineLength</servlet-name>
	<servlet-class>racer.fund.GetTimelineLength</servlet-class>
	<init-param>
		<param-name>driver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</init-param>
	<init-param>
		<param-name>url</param-name>
		<param-value>jdbc:mysql://hgswiki.club:3306/hgswiki</param-value>
	</init-param>
	<init-param>
		<param-name>user</param-name>
		<param-value>hgsadmin</param-value>
	</init-param>
	<init-param>
		<param-name>password</param-name>
		<param-value>summercozy</param-value>
	</init-param>
  </servlet>
  <servlet-mapping>
	<servlet-name>GetTimelineLength</servlet-name>
	<url-pattern>/TimelineLength</url-pattern>
  </servlet-mapping>

<servlet>
	<servlet-name>GetTimelineByIndex</servlet-name>
	<servlet-class>racer.fund.GetTimelineByIndex</servlet-class>
	<init-param>
		<param-name>driver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</init-param>
	<init-param>
		<param-name>url</param-name>
		<param-value>jdbc:mysql://hgswiki.club:3306/hgswiki</param-value>
	</init-param>
	<init-param>
		<param-name>user</param-name>
		<param-value>hgsadmin</param-value>
	</init-param>
	<init-param>
		<param-name>password</param-name>
		<param-value>summercozy</param-value>
	</init-param>
  </servlet>
  <servlet-mapping>
	<servlet-name>GetTimelineByIndex</servlet-name>
	<url-pattern>/TimelineByIndex</url-pattern>
  </servlet-mapping>

<servlet>
	<servlet-name>GetIndexMembers</servlet-name>
	<servlet-class>racer.fund.GetIndexMembers</servlet-class>
	<init-param>
		<param-name>driver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</init-param>
	<init-param>
		<param-name>url</param-name>
		<param-value>jdbc:mysql://hgswiki.club:3306/hgswiki</param-value>
	</init-param>
	<init-param>
		<param-name>user</param-name>
		<param-value>hgsadmin</param-value>
	</init-param>
	<init-param>
		<param-name>password</param-name>
		<param-value>summercozy</param-value>
	</init-param>
  </servlet>
  <servlet-mapping>
	<servlet-name>GetIndexMembers</servlet-name>
	<url-pattern>/IndexMembers</url-pattern>
  </servlet-mapping>

<servlet>
	<servlet-name>InsertIndexMember</servlet-name>
	<servlet-class>racer.fund.InsertIndexMember</servlet-class>
	<init-param>
		<param-name>driver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</init-param>
	<init-param>
		<param-name>url</param-name>
		<param-value>jdbc:mysql://hgswiki.club:3306/hgswiki</param-value>
	</init-param>
	<init-param>
		<param-name>user</param-name>
		<param-value>hgsadmin</param-value>
	</init-param>
	<init-param>
		<param-name>password</param-name>
		<param-value>summercozy</param-value>
	</init-param>
  </servlet>
  <servlet-mapping>
	<servlet-name>InsertIndexMember</servlet-name>
	<url-pattern>/InsertMember</url-pattern>
  </servlet-mapping>

<servlet>
	<servlet-name>InsertNewWiki</servlet-name>
	<servlet-class>racer.fund.InsertNewWiki</servlet-class>
	<init-param>
		<param-name>driver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</init-param>
	<init-param>
		<param-name>url</param-name>
		<param-value>jdbc:mysql://hgswiki.club:3306/hgswiki</param-value>
	</init-param>
	<init-param>
		<param-name>user</param-name>
		<param-value>hgsadmin</param-value>
	</init-param>
	<init-param>
		<param-name>password</param-name>
		<param-value>summercozy</param-value>
	</init-param>
  </servlet>
  <servlet-mapping>
	<servlet-name>InsertNewWiki</servlet-name>
	<url-pattern>/InsertWiki</url-pattern>
  </servlet-mapping>
</web-app>